{
  "presets": ["es2015", "stage-1"],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types"
  ],
  "sourceMaps": true,
  "env": {
    "development": {
      "plugins": [
        "syntax-flow",
        "tcomb",
        "transform-flow-strip-types"
      ]
    }
  }
}
